$bp-desktop: 1200px;
$bp-tablet: 960px;

$container-width: 120rem;

$color-primary: #50bebf;
$color-black: #4e5456;
$color-gray--darker: #727678;
$color-gray: #e5e5e5;
$color-gray--lighter: #f1f1f1;
$color-white: #fff;
$color-green: #51bf56;


$sidebar-width: 400px;
$filter-height: 200px;

$indent-xs: 4px;
$indent-s: 8px;
$indent-base: 16px;
$indent-m: 32px;
$indent-l: 64px;
