.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-height: 40px;
  min-width: 40px;
  padding: $indent-xs $indent-base;
  line-height: 1.9;
  border: none;
  border-radius: 0;
  outline: none;
  background-color: $color-primary;
  font-size: 16px;
  color: $color-white;
  position: relative;
  margin: 0;

  &:focus,
  &:hover {
    background-color: darken($color-primary, 20%);
    color: $color-white;
  }

  &:disabled {
    background-color: lighten($color-primary, 20%);
  }

  &--fluid {
    width: 100%;
  }

  &--loading {
    &:after {
      content: "";
      background-color: $color-gray--lighter;
      background-image: url("/tail-spin.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto 60%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
