.restaurant {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;

  &__details,
  &__image {
    @include mq(tablet) {
      flex-basis: 50%;
      max-width: 50%;
    }
  }

  &__image {
    display: flex;

    img {
      display: block;
      margin: auto;
    }

    img[lazy=error],
    img[lazy=loaded] {
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-name: fadeIn;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
